{% extends "adventurebase.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<article class="art-row">
<div class="div-col-adv">
<h1>About this project</h1>
<p>My choice of project for the MVC course at Blekinge Tekniska Högskola landed on making an adventure game. The game revolves around stepping through a portal into an unknown land where 
the goal is to collect certain items in order to make it to the end and to be able to make it back safely.</p>
<p>In technical terms it's a adventure game inspired by retro adventure games from back in the day like "Simon the sorcerer" and "The Curse of Monkey Island" mixed with even 
older purely text based adventure games. The game revolves around navigating a set amount of rooms, where each room may or may not hold items the player can interact with or collect in 
order to progress further and eventually complete the adventure. The game and how it's built adheres to the object oriented programming principles and coding practices learn through out 
the MVC course. </p>
</div>
</article>
{% endblock %}
