{% extends "base.html.twig" %}

{% block title %}Reports{% endblock %}

{% block body %}
    <article class="art-row">
        <div class="div-col-1">
            <h2>Reports</h2>
            <ul class="about-links">
                <li><a href="#kmom01">Kmom 01</a></li>
                <li><a href="#kmom02">Kmom 02</a></li>
            </ul>
        </div>

        <div class="div-col-2">
            <h2 id="kmom01">Kmom 01</h2>
            <p>Kmom01 text</p>

            <h2 id="kmom02">Kmom 02</h2>
            <p>Kmom02 text</p>
        </div>
    </article>
{% endblock %}